
<app-header-two></app-header-two>
<app-breadcrumbs></app-breadcrumbs>
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title ">Associations</h4>
            <p class="card-category"> All Associations For PharmaLife</p>
            <button type="button" class="btn btn-warning btn-rounded" [routerLink]="['/createAssociation']">New</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <th>
                            idAssocation
                        </th>
                        <th>
                            associationName
                        </th>
                        <th>
                            adress
                        </th>
                        <th>
                            email
                        </th>
                        <th>
                            logo
                        </th>
                        <th>
                            description
                        </th>
                        <th>
                            phoneNumber
                        </th>
                        <th>
                            country
                        </th>
                        <th>
                            Actions
                        </th>
                        
                    </thead>
                    <tbody>
                        <tr *ngFor ="let association of associations">
                            <td>{{association.idAssociation}}</td>  
                            <td>{{association.associationName}}</td> 
                            <td>{{association.adressAssociation}}</td> 
                            <td>{{association.emailAssocation}}</td> 
                            <td>{{association.logoAssocation}}</td>  
                            <td>{{association.descriptionAssocation}}</td>  
                            <td>{{association.phoneNumberAssocation}}</td>  
                            <td>{{association.countryAssocation}}</td>  
                            <td>
                               
                                <button type="button" class="btn btn-link btn-sm btn-rounded" >edit</button>
                                <button type="button" class="btn btn-link btn-sm btn-rounded">delete</button>
                                <button type="button" class="btn btn-link btn-sm btn-rounded">Requests</button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
