
<app-header-two></app-header-two>
<app-breadcrumbs></app-breadcrumbs>
<!-- <div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title ">Associations</h4>
            <p class="card-category"> All Associations For PharmaLife</p>
            <button type="button" class="btn btn-warning btn-rounded" [routerLink]="['/createAssociation']">New</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <th>
                            idAssocation
                        </th>
                        <th>
                            associationName
                        </th>
                        <th>
                            adress
                        </th>
                        <th>
                            email
                        </th>
                        <th>
                            logo
                        </th>
                        <th>
                            description
                        </th>
                        <th>
                            phoneNumber
                        </th>
                        <th>
                            country
                        </th>
                        <th>
                            Actions
                        </th>
                        
                    </thead>
                    <tbody>
                        <tr *ngFor ="let association of associations">
                            <td>{{association.idAssociation}}</td>  
                            <td>{{association.associationName}}</td> 
                            <td>{{association.adressAssociation}}</td> 
                            <td>{{association.emailAssocation}}</td> 
                            <td>{{association.logoAssocation}}</td>  
                            <td>{{association.descriptionAssocation}}</td>  
                            <td>{{association.phoneNumberAssocation}}</td>  
                            <td>{{association.countryAssocation}}</td>  
                            <td>
                               
                                <button type="button" class="btn btn-link btn-sm btn-rounded" >edit</button>
                                <button type="button" class="btn btn-link btn-sm btn-rounded">delete</button>
                                <button type="button" class="btn btn-link btn-sm btn-rounded">Requests</button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>-->





<div class="sidebar-style-9">
    <div class="section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">


                   <!-- <app-clinic-sidebar></app-clinic-sidebar> -->
                   <div class="sidebar mb-5">
                    <!-- Category Widget -->
                    <div class="widget widget-categories">
                        <h5 class="widget-title">Associations</h5>
                        <ul>
                            <!-- Data -->

                            <li>
                                <a> New Association </a>
                                <a> My Associations </a>
                               
                            </li>
                            <!-- Data -->
                        </ul>
                    </div>
                    <div class="widget p-0 border-0">
                        <div class="sigma_contact-map">
                            <iframe title="map"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.9914406081493!2d2.292292615201654!3d48.85837360866272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964e34e2d%3A0x8ddca9ee380ef7e0!2sEiffel%20Tower!5e0!3m2!1sen!2sin!4v1571115084828!5m2!1sen!2sin"
                                height="300" allowfullscreen="">
                            </iframe>
                        </div>
                    </div>
                </div>
                </div>


                <div class="col-lg-8">
                    <div class="row">
                        <!-- Data -->
                        <div class="col-lg-6 col-md-6" *ngFor ="let association of associations">
                            <div class="sigma_team style-16">
                                <div class="sigma_team-thumb">
                                    <img src="../../../assets/img/donationAssociation/{{association.logoAssocation}}" [alt]="association.logoAssocation" height="248" width="199">
                                    <!--<td><img src="../../../assets/img/{{donation.imageDonation}}" height="50" width="50"></td> -->
                                </div>
                                <div class="sigma_team-body">
                                    <h5>
                                        <a >{{association.associationName}}</a>
                                    </h5>
                                    <div class="sigma_rating">
                                        
                                        <span class="ml-3">{{association.nbAnneeAssociation}}</span>
                                    </div>
                                    <div class="sigma_team-categories">
                                        <a 
                                            class="sigma_team-category">{{association.countryAssocation}}</a>
                                    </div>
                                    <div class="sigma_team-info">
                                        <span>
                                            <i class="fal fa-map-marker-alt"></i>
                                            {{association.dateAssociation}}
                                        </span>
                                    </div>
                                    <a  class="sigma_btn btn-block btn-sm" (click)="detailAssociation(association.idAssociation)">View
                                        More</a>
                                </div>
                            </div>
                        </div>
                        <!-- Data -->
                    </div>
                    <!-- Pagination -->
                    
                    <!-- Pagination -->
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
