<app-header-two></app-header-two>
<!--P1-->
<div class="sigma_banner light-bg style-10 bg-cover">
    <img src="assets/img/tr.png" class="tr" alt="img">
    <img src="assets/img/br.png" class="br" alt="img">
    <img src="assets/img/bl.png" class="bl" alt="img">
    <div class="banner-slider-inner">
        <div class="sigma_banner-text">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <h5 class="primary-color">Markets & Resources</h5>
                        <h1 class="title">
                            Find The Best Doctor near By You
                        </h1>
                        <div class="banner-links d-flex align-items-center">
                            <a routerLink="/contact" class="sigma_btn">Get a Quote</a>
                            <a routerLink="/about" class="sigma_btn light ml-4">Read more</a>
                        </div>
                    </div>
                    <div class="col-lg-6 d-none d-lg-block">
                        <div class="sigma_banner-image mt-5 mt-lg-0">
                            <img src="assets/img/home-2/540x540.jpg" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<!--P2-->
<div class="container">
    <div class="sigma_service-wrapper style-18 margin-negative">
        <div class="section-title flex-title">
            <h3 class="title mb-0">Praesent tempor dictum tellus ut molestie</h3>
            <a class="sigma_btn mt-3 mt-sm-0">
                Get a Quote
                <i class="fal fa-arrow-right ml-3"></i>
            </a>
        </div>
        <div class="row">
            <!-- Data -->
            <div class="col-lg-4 col-md-6">
                <div class="sigma_service style-18">
                    <div class="sigma_service-thumb">
                        <i><img src="../../../assets/img/logo.png"></i>
                    </div>
                    <div class="sigma_service-body">
                        <h5>
                            <a>Events</a>
                        </h5>
                        <p>go to the list of events</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sigma_service style-18">
                    <div class="sigma_service-thumb">
                        <i><img src="../../../assets/img/logo.png"></i>
                    </div>
                    <div class="sigma_service-body">
                        <h5>
                            <a>Donations</a>
                        </h5>
                        <p>go to the list of Donations</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sigma_service style-18">
                    <div class="sigma_service-thumb">
                        <i><img src="../../../assets/img/logo.png"></i>
                    </div>
                    <div class="sigma_service-body">
                        <h5>
                            <a>Articles</a>
                        </h5>
                        <p>go to the list of articles</p>
                    </div>
                </div>
            </div>
            <!-- Data -->
        </div>
    </div>
</div>





<!--*************************************************************************************************************************************-->




<div class="section section-padding pt-0">
    <div class="container">
        <div class="section-title centered">
            <span class="subtitle">PharmaLIFE</span>
            <h3 class="title mb-0">Our Associations</h3>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="sigma_tab-item style-2 with-dots">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a >
                                <span class="pulsive-dot"></span>
                                All
                            </a>
                            <a >
                                <span class="pulsive-dot"></span>
                                Best
                            </a>
                            <a >
                                <span class="pulsive-dot"></span>
                                Events
                            </a>
                        </li>
                        <!-- Data -->
                        <!--<li class="nav-item" *ngFor="let item of category; let i = index">
                            <a class="nav-link" [ngClass]="activeItem === 2+i ? 'active' : ''"
                                (click)="filterItemsByCategory(item, 2+i)">
                                <span class="pulsive-dot"></span>
                                {{item.title}}
                            </a>
                        </li>-->
                        <!-- Data -->
                    </ul>
                </div>
            </div>
            <div class="tab-content col-12" id="myTabContent">
                <div class="row">
                    <!-- Data -->
                    <div class="col-lg-3 col-md-6" *ngFor="let association of associations">
                        <div class="sigma_product style-8">
                            <div class="sigma_product-thumb">
                               <!--<a routerLink="/product-single/{{item.id}}"><img [src]="item.image[0]"
                                        [alt]="item.title"></a> -->
                                        <a > <img src="../../../assets/img/donationAssociation/{{association.logoAssocation}}" [alt]="association.logoAssocation" height="140" width="400"></a>
                                <div class="sigma_product-controls">
                                    <!-- Wishlist -->
                                    <a 
                                         placement="top"
                                        ngbTooltip="Add To Wishlist"> <i class="far fa-heart"></i> </a>
                                    <a  class="active" 
                                        placement="top"
                                        ngbTooltip="Remove To Wishlist"> <i class="far fa-heart"></i> </a>
                                    <!-- Cart -->
                                    <a href="javascript:void(0)"
                                        placement="top" ngbTooltip="Add To Cart"> <i class="far fa-shopping-basket"></i>
                                    </a>
                                
                                    <!-- Quick view -->
                                   
                                    <a href="javascript:void(0)" placement="top" ngbTooltip="Quick View"> <i
                                        class="far fa-eye" ></i> </a>
                                          
                                </div>
                            </div>
                            <div class="sigma_product-body">
                                <h5 class="sigma_product-title"> <a
                                        >{{association.associationName}}</a> </h5>
                                <div class="sigma_rating">
                                    <i>Déjà {{association.nbAnneeAssociation}} années</i>
                                </div>
                                <div class="sigma_product-price">
                                    <span>{{association.dateAssociation}}$</span>
                                    <!--<span *ngIf="item.discount">{{item.price | number:'1.2-2'}}$</span>-->
                                </div>
                                <!-- Cart -->
                                <a 
                                    class="sigma_btn btn-sm">View More
                                </a> 
                             
                            </div>
                            
                        </div>
                    </div>
                    <!-- Data -->
                </div>
            </div>
        </div>
    </div>
</div>











<!--**************************************************************************************************************************************-->

<app-footer></app-footer>
