<div class="section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="sigma_info style-24">
                    <div class="sigma_info-title">
                        <span class="sigma_info-icon bg-primary-1 text-white">
                            <i class="flaticon-hospital"></i>
                        </span>
                    </div>
                    <div class="sigma_info-description">
                        <h5>Our Address</h5>
                        <p>ESPRIT, Ariana Essorgha</p>
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sigma_info style-24">
                    <div class="sigma_info-title">
                        <span class="sigma_info-icon bg-primary-1 text-white">
                            <i class="flaticon-call"></i>
                        </span>
                    </div>
                    <div class="sigma_info-description">
                        <h5>Our Phone</h5>
                        <p>Telephone: +216 56 123 789</p>
                            <br>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sigma_info style-24">
                    <div class="sigma_info-title">
                        <span class="sigma_info-icon bg-primary-1 text-white">
                            <i class="flaticon-envelope"></i>
                        </span>
                    </div>
                    <div class="sigma_info-description">
                        <h5>Our Email</h5>
                        <p> pharmalife.cloudy@gmail.com</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>