<app-header-two></app-header-two>
<!--breadcrumbs-->

    <div class="sigma_subheader style-5 bg-gray">
        <div class="container">
            
                <div class="sigma_subheader-inner">
                    <h1>Our Events</h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/association" class="btn-link">All</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/myEvent" class="btn-link">MyEvents</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/addEvent" class="btn-link">New Event</a>
                    </li>
                    
                   
                </ol>
        
           
        </div>
        <img src="assets/img/subheader-br.png" class="br" alt="subheader">
        <img src="assets/img/subheader-bl.png" class="bl" alt="subheader">
        <img src="assets/img/subheader-tr.png" class="tr" alt="subheader">

              

   
    </div>
  
 




      
    <div class="container">
        <div class="row ">
            <div class="col-md-12 text-center">
              <button class="btn btn-green" routerLink="/reservation" >Check Reservations</button>
            </div>
          </div>
        
        <div class="row mt-3">
          <div class="col-md-12 text-center">
            <button class="btn btn-primary" (click)="sortEventsByDate()">Sort By Date</button>
            <button class="btn btn-primary ml-3" (click)="sortEventsByName()">Sort By Name</button>
          </div>
        </div>
       
      </div>

<!--data-->

<div class="section">
    <div class="container">
        <div class="row">
         
            <div class="tab-content col-12" id="myTabContent">
                <div class="row">
                   

                    <!-- Data -->
                    <div class="col-lg-3 col-md-6" *ngFor="let event of events">
                        <div class="sigma_product style-8">
                            <div class="sigma_product-thumb">
                              <!--<a routerLink="/">
                                    <div class="sigma_product-thumb">
                                        <a routerLink="/">
                                            <img src="../../../assets/img/event/{{event.imageEvent}}"
                                                [alt]="event.imageEvent">
                                        </a>
                                  
                                    </div>                              
                                </a>      -->  

                                <a routerLink="/">
                                    <img class="event-image" src="../../../assets/img/event/{{event.imageEvent}}" [alt]="event.imageEvent">
                                </a>
                                
                            </div>
                            <div class="sigma_product-body">
                                <h5 class="sigma_product-title"> <a
                                        >{{event.nameEvent}}</a> </h5>
                                <div class="sigma_rating">
                                    <i> {{event.descriptionEvent}} </i>
                                </div>
                                <div class="sigma_product-price">
                                    <span>{{event.locationEvent}}</span>
                                    <!--<span *ngIf="item.discount">{{item.price | number:'1.2-2'}}$</span>-->
                                </div> 

                                <div class="sigma_product-price">
                                    <span>{{event.beginsAtEvent}}</span>
                                    <!--<span *ngIf="item.discount">{{item.price | number:'1.2-2'}}$</span>-->
                                </div> 

                                <div class="sigma_product-price">
                                    <span>{{event.endsAtEvent}}</span>
                                    <!--<span *ngIf="item.discount">{{item.price | number:'1.2-2'}}$</span>-->
                                </div> 
                                <div class="sigma_product-price">
                                    <span>{{event.reservationsEvent.dateReservation}}</span>
                                    <!--<span *ngIf="item.discount">{{item.price | number:'1.2-2'}}$</span>-->
                                </div> 
                                <div>
                                    <form id="myForm">
                                    <button (click)="onAddReservation(event.idEvent)">Book</button>
                                </form>
                                </div>
                              
                 
                            </div>
                            
                        </div>
                    </div>
                    <!-- Data -->
                </div>
            </div>
        </div>
    </div>
</div>









<!--footer-->
<app-footer></app-footer>